body {
    margin: 0 auto;
    background-color: bisque;
}

.form {
    margin: 10px;
    background: white;
    font-family: serif;
}
.category {
    font-weight: bold;
    padding-top: 10px;
}
.attendance {
 padding-left: 10px;   
}
.name {
    /* background: blue; */
    display: flex;
}
.firstName {
    /* background: yellow; */
    padding-left: 10px;
}
.lastName {
    /* background: green; */
    padding-left: 10px;
}
.tel {
    /* background: red; */
    padding-left: 10px;
}
.guest {
    padding-left: 10px;
}
.allergy {
    padding-left: 10px;
}
.example {
    color: gray;
    font-size: 10px;
}
.message {
    padding-left: 10px;
}