html {
    font-size: 100%;
}

/* BODY
-----------------------*/
body {
    font-family: "Yu Gothic medium", "游ゴシック medium", "游ゴシック体", "ヒラギノ角ゴ Pro M3", sans-serif;
    /* line-height: 1.7;*/
    /* max-width: 600px; */
    margin: 0 auto;
}

span {
    font-weight: bold;
}

/* HEAD
-----------------------*/
/* INDEX
-----------------------*/
main {
    padding: 30px;
    background: #eee7d4;
}
.section {
    margin: 0px 10px;
}
.shoutaibun {
    text-align: center;
    font-size: 0.75rem;
    font-family: 'Comforter', cursive;
    font-family: 'Klee One', cursive;
}
.infoBlock {
    padding: 0px 0px 20px 10px;
    font-size: 0.75rem;
}


/* CONTACT
-----------------------*/
#contact {
    background-image: url(img/test.JPG);
    background-size: cover;
}
.big-bg {
    padding: 30px;
}
.form {
    background: rgba(255, 255, 255, .5);
}
.nameBox {
    display: flex;
}
.telBox {
    display: flex;
}
input[type="text"],
input[type="tel"],
input[type="radio"],
.allergyDetailBox,
.messageBox {
    background: rgba(255, 255, 255, .5);
    border: 1px #000 solid;
    margin-bottom: 20px;
    border-radius: 5px;
    max-width: 100%;
    margin: 0 10px 20px 10px;
}
/* ボタン */
.button {
    background: #0bd;
    color: #fff;
    padding: 9px 16px;
    border: 1px #fff solid;
}
