html {
    font-size: 100%;
}

/* BODY
-----------------------*/
body {
    font-family: "Yu Gothic medium", "游ゴシック medium", "游ゴシック体", "ヒラギノ角ゴ Pro M3", sans-serif;
    line-height: 1.7;
    max-width: 600px;
    margin: 0 auto;
}

/* HEAD
-----------------------*/
.section {
    margin: 0px 20px;
}
/* BODY
-----------------------*/


/* CONTACT
-----------------------*/
#contact {
    background-image: url(img/test.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
}

.shoutaibun {
    text-align: center;
}
.infoBlock {
    padding: 0px 40px;
}

span {
    font-weight: bold;
}

/* ボタン */
.button {
    background: #0bd;
    color: #fff;
    padding: 9px 16px;
    border: 1px #fff solid;
}

.nameBox {
    display: flex;
}

.telBox {
    display: flex;
}

input[type="text"],
input[type="tel"],
input[type="radio"],
textarea {
    background: rgba(255, 255, 255, .5);
    border: 1px #fff solid;
    margin-bottom: 20px;
    border-radius: 5px;
    max-width: 100%;
    margin: 0 10px 20px 10px;
}