html {
    font-size: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.form {
    background-image: url("https://github.com/takuyaFujiwara08/WeddingPage2/blob/main/img/IMG_5432%20-%20%E3%82%B3%E3%83%94%E3%83%BC.JPG");
    min-height: 100vh;
}

/* ボタン */
.button {
    font-size: 1.375rem;
    background: #0bd;
    color: #fff;
    padding: 18px 32px;
}

.category {
    padding: 10px;
}

.nameBox {
    display: flex;
}

.name {
    padding: 0 10px 0 10px;
}

.telBox {
    display: flex;
}

.tel {
    padding: 0 10px 0 10px;
}
